apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-configmap
  namespace: prometheus
data:
  prometheus.yml: |
    global:
      scrape_interval: 5s
      evaluation_interval: 5s
    scrape_configs:
        - job_name: 'prometheus'
          static_configs:
            - targets: ['localhost:9090']
  
        - job_name: 'nodejs-app'
          static_configs:
            - targets: ['node-service:3000']
  
        - job_name: 'redis-master'
          static_configs:
            - targets: ['redis-master:6379']
  
        - job_name: 'redis-replicas'
          static_configs:
            - targets: ['redis-rep-service:6379']