apiVersion: apps/v1
kind: Deployment
metadata: 
  name: prometheus-deployment
spec:
  selector: 
    matchLabels:
      app: prometheus
  replicas: 1
  template:
    metadata:
      labels:
        app: prometheus
    spec:
      containers:
      - name: prometheus
        image: prometheus:7-alpine 
        command: ["prometheus-server", "--appendonly", "yes"] 
        ports:
          - containerPort: 6379 
        volumeMounts: 
          - name: prometheus-storage
            mountPath: /data 
      volumes: 
        - name: prometheus-storage
          persistentVolumeClaim:
            claimName: prometheus-pvc 
#----------------------------------------------
apiVersion: v1
kind: Service
metadata:
  name: prometheus
spec:
  selector:
    app: prometheus
  ports: 
    - port: 6379
      targetPort: 6379
      protocol: TCP
  type: ClusterIP