apiVersion: apps/v1
kind: Deployment
metadata: 
    name: node-deployment
spec:
    selector: 
      matchLabels:
        app: node
    replicas: 1
    template:
      metadata:
        labels:
          app: node
      spec:
        containers:
        - name: node
          image: node-app:latest
          imagePullPolicy: Never # pour éviter que minikube prend les images à partir de github et prend les image localment
          ports:
          - containerPort: 3000